.side-content {
  width: 23%;
}

.side-content .heading h6 {
  background-color: #000;
}

/*----------SUBSCRIBE-----------*/
/* .subscribe {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.subscribe h1 {
  text-align: left;
  font-size: 20px;
}

.subscribe input {
  width: 100%;
  padding: 10px;
}

.subscribe button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #ff0000;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
} */
/*----------SUBSCRIBE-----------*/

/*----------BANNER-----------*/
.banner {
  margin: 40px 0;
}
/*----------BANNER-----------*/

/*----------CATEGORY-----------*/
.categories .category1 {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}
/*----------CATEGORY-----------*/

/*----------GALLERY-----------*/
.gallery .img {
  width: 315px;
  height: 200px;
}

.gallery img {
  width: 315px;
  height: 200px;
  object-fit: cover;
}
/*----------GALLERY-----------*/

@media screen and (max-width: 768px) {
  .side-content {
    width: 100%;
  }

  .gallery .img,
  .gallery img {
    width: 100%;
    height: 400px;
  }
}
