.social .social-box {
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
}

.social .social-box i {
  margin-right: 20px;
}

.social .social-box span {
  font-weight: 500;
}

.social .social-box:nth-child(1) {
  background-color: #3b5998;
}

.social .social-box:nth-child(2) {
  background-color: #c32aa3;
}

.social .social-box:nth-child(3) {
  background-color: #ff0000;
}
