.head {
  cursor: pointer;
  background-color: #1b3160;
}

.head .logo img {
  /* width: 250px; */
  width: 150px;
}

header {
  display: none;
  background-color: #1b3160;
  color: #fff;
  position: relative;
}

header li {
  margin-right: 30px;
  transition: 0.5s;
}

header li a {
  color: #fff;
  transition: 0.5s;
}

header li a:hover {
  color: crimson;
  cursor: pointer;
}

header .ad {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.barIco {
  display: block;
  font-size: 25px;
  background: none;
  color: #fff;
  border: none;
}

.more-li {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.more-li i {
  font-size: 20px;
}

.more-popup {
  position: absolute;
  top: 100%;
  right: -5px;
  background-color: var(--clr-main-2);
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  margin-top: 21px;
  z-index: 1000;
  min-width: 150px;
  padding-left: 5px;
}

.more-popup .more-popup__li {
  padding-block: 5px;
}

.mobile-nav {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1b3160;
  color: #fff;
  padding-block: 10px;
}

.mobile-nav__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-nav__link {
  font-size: var(--size-sm);
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.05em;
  transition: color 0.3s;
}

.mobile-nav__link:hover {
  color: crimson;
}

.mobile-nav__link-line {
  border: 1px solid var(--clr-slate800);
  padding-right: 1.5rem;
}

.mobile-nav__btn {
  font-size: var(--size-sm);
}

.mobile-nav-close-btn {
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 30px;
  color: var(--clr-slate600);
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  header {
    display: block;
  }

  header li {
    font-size: var(--size-sm);
  }

  .barIco {
    display: none;
  }
}

/* xl */
@media (min-width: 1280px) {
  header li {
    font-size: var(--size-base);
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
